/*General -------------------------------------------*/
body {
  background-color: #070707;
  font-family: Raleway, sans-serif;
}
body h1 {
  font-family: "Poiret One", sans-serif;
  text-align: center;
}

/*Card Customization -------------------------------*/
.card {
  background-color: #070707;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top {
  border-radius: 0.25rem;
}

.card-body {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Load Fonts ---------------------------------------*/
@font-face {
  font-family: "Poiret One";
  src: url("../res/font/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: "Gruppo";
  src: url("../res/font/Gruppo-Regular.ttf");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../res/font/JetBrainsMono-Regular.ttf");
}
/* Accent color classes ***************************/
.AccentGold {
  color: #ff9933;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentGold a {
  color: #cc6600;
  transition: text-shadow 0.25s;
}
.AccentGold a:hover {
  color: #ff9933;
  text-decoration: none;
  text-shadow: 0 0 5px #994d00, 0 0 10px #994d00, 0 0 15px #994d00, 0 0 20px #994d00, 0 0 25px #994d00;
  transition: text-shadow 0.5s;
}
.AccentGold .card {
  border: groove 2px #ff9933;
  color: #ff9933;
}
.AccentGold .card a {
  color: #ff9933;
  border: transparent solid 2px;
}
.AccentGold .card-body {
  border-top: groove 2px #ff9933;
}
.AccentGold button, .AccentGold button:hover {
  color: #ff9933;
  border: #ff9933 groove 2px;
}
.AccentGold button:hover, .AccentGold button:active, .AccentGold button:focus {
  color: #ffcc99;
  border: #ff9933 groove 2px;
}
.AccentGold .Shaded {
  transition: background-color 0.5s;
}
.AccentGold .Shaded:hover {
  background-color: rgba(255, 153, 51, 0.04);
  transition: background-color 0.5s;
}
.AccentGold .GlowAnim {
  color: #ff9933;
  -webkit-animation: glow30deg 2s ease-in-out infinite alternate;
  -moz-animation: glow30deg 2s ease-in-out infinite alternate;
  animation: glow30deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow30deg {
  from {
    text-shadow: 0 0 5px #994d00, 0 0 10px #994d00, 0 0 15px #994d00, 0 0 20px #994d00, 0 0 25px #994d00;
  }
  to {
    text-shadow: 0 0 10px #e67300, 0 0 15px #e67300, 0 0 20px #e67300, 0 0 25px #e67300, 0 0 30px #e67300;
  }
}

.AccentLime {
  color: #ccff33;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentLime a {
  color: #99cc00;
  transition: text-shadow 0.25s;
}
.AccentLime a:hover {
  color: #ccff33;
  text-decoration: none;
  text-shadow: 0 0 5px #739900, 0 0 10px #739900, 0 0 15px #739900, 0 0 20px #739900, 0 0 25px #739900;
  transition: text-shadow 0.5s;
}
.AccentLime .card {
  border: groove 2px #ccff33;
  color: #ccff33;
}
.AccentLime .card a {
  color: #ccff33;
  border: transparent solid 2px;
}
.AccentLime .card-body {
  border-top: groove 2px #ccff33;
}
.AccentLime button, .AccentLime button:hover {
  color: #ccff33;
  border: #ccff33 groove 2px;
}
.AccentLime button:hover, .AccentLime button:active, .AccentLime button:focus {
  color: #e6ff99;
  border: #ccff33 groove 2px;
}
.AccentLime .Shaded {
  transition: background-color 0.5s;
}
.AccentLime .Shaded:hover {
  background-color: rgba(204, 255, 51, 0.04);
  transition: background-color 0.5s;
}
.AccentLime .GlowAnim {
  color: #ccff33;
  -webkit-animation: glow75deg 2s ease-in-out infinite alternate;
  -moz-animation: glow75deg 2s ease-in-out infinite alternate;
  animation: glow75deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow75deg {
  from {
    text-shadow: 0 0 5px #739900, 0 0 10px #739900, 0 0 15px #739900, 0 0 20px #739900, 0 0 25px #739900;
  }
  to {
    text-shadow: 0 0 10px #ace600, 0 0 15px #ace600, 0 0 20px #ace600, 0 0 25px #ace600, 0 0 30px #ace600;
  }
}

.AccentGreen {
  color: #00cc00;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentGreen a {
  color: #006600;
  transition: text-shadow 0.25s;
}
.AccentGreen a:hover {
  color: #00cc00;
  text-decoration: none;
  text-shadow: 0 0 5px #003300, 0 0 10px #003300, 0 0 15px #003300, 0 0 20px #003300, 0 0 25px #003300;
  transition: text-shadow 0.5s;
}
.AccentGreen .card {
  border: groove 2px #00cc00;
  color: #00cc00;
}
.AccentGreen .card a {
  color: #00cc00;
  border: transparent solid 2px;
}
.AccentGreen .card-body {
  border-top: groove 2px #00cc00;
}
.AccentGreen button, .AccentGreen button:hover {
  color: #00cc00;
  border: #00cc00 groove 2px;
}
.AccentGreen button:hover, .AccentGreen button:active, .AccentGreen button:focus {
  color: #33ff33;
  border: #00cc00 groove 2px;
}
.AccentGreen .Shaded {
  transition: background-color 0.5s;
}
.AccentGreen .Shaded:hover {
  background-color: rgba(0, 204, 0, 0.04);
  transition: background-color 0.5s;
}
.AccentGreen .GlowAnim {
  color: #00cc00;
  -webkit-animation: glow120deg 2s ease-in-out infinite alternate;
  -moz-animation: glow120deg 2s ease-in-out infinite alternate;
  animation: glow120deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow120deg {
  from {
    text-shadow: 0 0 5px #003300, 0 0 10px #003300, 0 0 15px #003300, 0 0 20px #003300, 0 0 25px #003300;
  }
  to {
    text-shadow: 0 0 10px green, 0 0 15px green, 0 0 20px green, 0 0 25px green, 0 0 30px green;
  }
}

.AccentAqua {
  color: #00ff99;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentAqua a {
  color: #00995c;
  transition: text-shadow 0.25s;
}
.AccentAqua a:hover {
  color: #00ff99;
  text-decoration: none;
  text-shadow: 0 0 5px #00663d, 0 0 10px #00663d, 0 0 15px #00663d, 0 0 20px #00663d, 0 0 25px #00663d;
  transition: text-shadow 0.5s;
}
.AccentAqua .card {
  border: groove 2px #00ff99;
  color: #00ff99;
}
.AccentAqua .card a {
  color: #00ff99;
  border: transparent solid 2px;
}
.AccentAqua .card-body {
  border-top: groove 2px #00ff99;
}
.AccentAqua button, .AccentAqua button:hover {
  color: #00ff99;
  border: #00ff99 groove 2px;
}
.AccentAqua button:hover, .AccentAqua button:active, .AccentAqua button:focus {
  color: #66ffc2;
  border: #00ff99 groove 2px;
}
.AccentAqua .Shaded {
  transition: background-color 0.5s;
}
.AccentAqua .Shaded:hover {
  background-color: rgba(0, 255, 153, 0.04);
  transition: background-color 0.5s;
}
.AccentAqua .GlowAnim {
  color: #00ff99;
  -webkit-animation: glow156deg 2s ease-in-out infinite alternate;
  -moz-animation: glow156deg 2s ease-in-out infinite alternate;
  animation: glow156deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow156deg {
  from {
    text-shadow: 0 0 5px #00663d, 0 0 10px #00663d, 0 0 15px #00663d, 0 0 20px #00663d, 0 0 25px #00663d;
  }
  to {
    text-shadow: 0 0 10px #00b36b, 0 0 15px #00b36b, 0 0 20px #00b36b, 0 0 25px #00b36b, 0 0 30px #00b36b;
  }
}

.AccentLightBlue {
  color: #00ccff;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentLightBlue a {
  color: #007a99;
  transition: text-shadow 0.25s;
}
.AccentLightBlue a:hover {
  color: #00ccff;
  text-decoration: none;
  text-shadow: 0 0 5px #005266, 0 0 10px #005266, 0 0 15px #005266, 0 0 20px #005266, 0 0 25px #005266;
  transition: text-shadow 0.5s;
}
.AccentLightBlue .card {
  border: groove 2px #00ccff;
  color: #00ccff;
}
.AccentLightBlue .card a {
  color: #00ccff;
  border: transparent solid 2px;
}
.AccentLightBlue .card-body {
  border-top: groove 2px #00ccff;
}
.AccentLightBlue button, .AccentLightBlue button:hover {
  color: #00ccff;
  border: #00ccff groove 2px;
}
.AccentLightBlue button:hover, .AccentLightBlue button:active, .AccentLightBlue button:focus {
  color: #66e0ff;
  border: #00ccff groove 2px;
}
.AccentLightBlue .Shaded {
  transition: background-color 0.5s;
}
.AccentLightBlue .Shaded:hover {
  background-color: rgba(0, 204, 255, 0.04);
  transition: background-color 0.5s;
}
.AccentLightBlue .GlowAnim {
  color: #00ccff;
  -webkit-animation: glow192deg 2s ease-in-out infinite alternate;
  -moz-animation: glow192deg 2s ease-in-out infinite alternate;
  animation: glow192deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow192deg {
  from {
    text-shadow: 0 0 5px #005266, 0 0 10px #005266, 0 0 15px #005266, 0 0 20px #005266, 0 0 25px #005266;
  }
  to {
    text-shadow: 0 0 10px #008fb3, 0 0 15px #008fb3, 0 0 20px #008fb3, 0 0 25px #008fb3, 0 0 30px #008fb3;
  }
}

.AccentPink {
  color: #cc66ff;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentPink a {
  color: #aa00ff;
  transition: text-shadow 0.25s;
}
.AccentPink a:hover {
  color: #cc66ff;
  text-decoration: none;
  text-shadow: 0 0 5px #8800cc, 0 0 10px #8800cc, 0 0 15px #8800cc, 0 0 20px #8800cc, 0 0 25px #8800cc;
  transition: text-shadow 0.5s;
}
.AccentPink .card {
  border: groove 2px #cc66ff;
  color: #cc66ff;
}
.AccentPink .card a {
  color: #cc66ff;
  border: transparent solid 2px;
}
.AccentPink .card-body {
  border-top: groove 2px #cc66ff;
}
.AccentPink button, .AccentPink button:hover {
  color: #cc66ff;
  border: #cc66ff groove 2px;
}
.AccentPink button:hover, .AccentPink button:active, .AccentPink button:focus {
  color: #eeccff;
  border: #cc66ff groove 2px;
}
.AccentPink .Shaded {
  transition: background-color 0.5s;
}
.AccentPink .Shaded:hover {
  background-color: rgba(204, 102, 255, 0.04);
  transition: background-color 0.5s;
}
.AccentPink .GlowAnim {
  color: #cc66ff;
  -webkit-animation: glow280deg 2s ease-in-out infinite alternate;
  -moz-animation: glow280deg 2s ease-in-out infinite alternate;
  animation: glow280deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow280deg {
  from {
    text-shadow: 0 0 5px #8800cc, 0 0 10px #8800cc, 0 0 15px #8800cc, 0 0 20px #8800cc, 0 0 25px #8800cc;
  }
  to {
    text-shadow: 0 0 10px #b31aff, 0 0 15px #b31aff, 0 0 20px #b31aff, 0 0 25px #b31aff, 0 0 30px #b31aff;
  }
}

.AccentRed {
  color: #c00000;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentRed a {
  color: #5a0000;
  transition: text-shadow 0.25s;
}
.AccentRed a:hover {
  color: #c00000;
  text-decoration: none;
  text-shadow: 0 0 5px #270000, 0 0 10px #270000, 0 0 15px #270000, 0 0 20px #270000, 0 0 25px #270000;
  transition: text-shadow 0.5s;
}
.AccentRed .card {
  border: groove 2px #c00000;
  color: #c00000;
}
.AccentRed .card a {
  color: #c00000;
  border: transparent solid 2px;
}
.AccentRed .card-body {
  border-top: groove 2px #c00000;
}
.AccentRed button, .AccentRed button:hover {
  color: #c00000;
  border: #c00000 groove 2px;
}
.AccentRed button:hover, .AccentRed button:active, .AccentRed button:focus {
  color: #ff2727;
  border: #c00000 groove 2px;
}
.AccentRed .Shaded {
  transition: background-color 0.5s;
}
.AccentRed .Shaded:hover {
  background-color: rgba(192, 0, 0, 0.04);
  transition: background-color 0.5s;
}
.AccentRed .GlowAnim {
  color: #c00000;
  -webkit-animation: glow0deg 2s ease-in-out infinite alternate;
  -moz-animation: glow0deg 2s ease-in-out infinite alternate;
  animation: glow0deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow0deg {
  from {
    text-shadow: 0 0 5px #270000, 0 0 10px #270000, 0 0 15px #270000, 0 0 20px #270000, 0 0 25px #270000;
  }
  to {
    text-shadow: 0 0 10px #740000, 0 0 15px #740000, 0 0 20px #740000, 0 0 25px #740000, 0 0 30px #740000;
  }
}

.AccentClearSky {
  color: #55ffff;
  /* See general a customization above */
  /* Animated  Glow */
}
.AccentClearSky a {
  color: #00eeee;
  transition: text-shadow 0.25s;
}
.AccentClearSky a:hover {
  color: #55ffff;
  text-decoration: none;
  text-shadow: 0 0 5px #00bbbb, 0 0 10px #00bbbb, 0 0 15px #00bbbb, 0 0 20px #00bbbb, 0 0 25px #00bbbb;
  transition: text-shadow 0.5s;
}
.AccentClearSky .card {
  border: groove 2px #55ffff;
  color: #55ffff;
}
.AccentClearSky .card a {
  color: #55ffff;
  border: transparent solid 2px;
}
.AccentClearSky .card-body {
  border-top: groove 2px #55ffff;
}
.AccentClearSky button, .AccentClearSky button:hover {
  color: #55ffff;
  border: #55ffff groove 2px;
}
.AccentClearSky button:hover, .AccentClearSky button:active, .AccentClearSky button:focus {
  color: #bbffff;
  border: #55ffff groove 2px;
}
.AccentClearSky .Shaded {
  transition: background-color 0.5s;
}
.AccentClearSky .Shaded:hover {
  background-color: rgba(85, 255, 255, 0.04);
  transition: background-color 0.5s;
}
.AccentClearSky .GlowAnim {
  color: #55ffff;
  -webkit-animation: glow180deg 2s ease-in-out infinite alternate;
  -moz-animation: glow180deg 2s ease-in-out infinite alternate;
  animation: glow180deg 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow180deg {
  from {
    text-shadow: 0 0 5px #00bbbb, 0 0 10px #00bbbb, 0 0 15px #00bbbb, 0 0 20px #00bbbb, 0 0 25px #00bbbb;
  }
  to {
    text-shadow: 0 0 10px #09ffff, 0 0 15px #09ffff, 0 0 20px #09ffff, 0 0 25px #09ffff, 0 0 30px #09ffff;
  }
}

/*# sourceMappingURL=main.css.map */
