/**********************
Table of Contents:

1: Global Rules
2: Components
3: Color Accent
  3.1: Global Accent Rules
  3.2: Component Accent Rules
  3.3: Special Effects
4: Color Accent Classes
*************************/
/********************
1: Global Rules
*********************/
*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poiret One";
  src: url("../res/font/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: "Gruppo";
  src: url("../res/font/Gruppo-Regular.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../res/font/JetBrainsMono-Regular.ttf");
}

/* Firefox font-bolding issue fix */
@-moz-document url-prefix() {
  body {
    font-weight: 300 !important;
  }
}

body {
  background-color: #000;
  font-family: Raleway, sans-serif;
  margin: 0;
  transition: filter 0.5s;
}

body h1 {
  /* Firefox font-bolding issue fix */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: 'Poiret One', sans-serif;
  text-align: center;
  font-size: 4rem;
  line-height: 1.2;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
}

/* 1em margin to glowy titles on mobile */
@media (max-width: 500px) {
  h1.glow-anim {
    padding-top: 1em;
  }
}

/* Makes it so that someone disables animations in the OS animations are disabled on the website */
@media (prefers-reduced-motion: reduce) {
  .glow-anim {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/********************
2: Components
*********************/
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  background-color: #000;
  max-width: 400px;
  align-items: center;
}

.card-body {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

.card-title {
  margin-bottom: 0.75rem;
  font-weight: normal;
}

.back-button-container {
  display: inline-block;
  margin-left: 1em;
  position: absolute;
  z-index: 1;
}

.back-button-container #backwards_button {
  font-size: 2em;
}

/* Modal Component */
.modal {
  position: fixed;
  z-index: 100;
  border-radius: 5px;
  background-color: #000;
  opacity: 1;
  transition: opacity 0.3s;
}

.modal .close {
  position: absolute;
  cursor: pointer;
}

/* Hidden modal */
.hidden {
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}

/* Blur Modal background */
body.modal-open .container, body.modal-open .container-fluid {
  filter: blur(1.5px) brightness(70%);
  -webkit-filter: blur(1.5px) brightness(70%);
  -moz-filter: blur(1.5px) brightness(70%);
  -o-filter: blur(1.5px) brightness(70%);
  -ms-filter: blur(1.5px) brightness(70%);
}

/********************
3: Color Accent
*********************/
/********************
4: Color Accent Classes
*********************/
.accent-gold {
  /* 3.1: Global Accent Rules */
  color: #ff9933;
  border-color: #ff9933;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-gold a {
  text-decoration: none;
  color: #b86614;
  transition: text-shadow 0.10s;
}

.accent-gold a:hover, .accent-gold a:focus {
  outline: none;
  color: #ff9933;
  text-decoration: none;
  text-shadow: 0 0 0.5em #b86614, 0 0 0.75em #b86614, 0 0 1em #b86614;
  transition: text-shadow 0.10s;
}

.accent-gold p {
  color: darkAccent10;
}

.accent-gold img {
  border-color: #ff9933;
  box-shadow: 0 0 5px #b86614, 0 0 10px #b86614;
}

.accent-gold img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #b86614) drop-shadow(0 0 7px #b86614);
}

.accent-gold div {
  border-color: #ff9933;
}

.accent-gold table, .accent-gold th {
  border: 2px solid #ff9933;
}

.accent-gold td {
  border: 1px solid #ff9933;
}

.accent-gold hr {
  border-color: #ff9933;
  box-shadow: 0 0 5px #b86614;
}

.accent-gold .card {
  border: groove 2px #ff9933;
  color: #ff9933;
}

.accent-gold .card a {
  color: #e6801a;
  border: transparent solid 2px;
}

.accent-gold .card a:hover {
  color: #ff9933;
}

.accent-gold .card-body {
  border-top: groove 2px #ff9933;
}

.accent-gold .modal {
  border: groove 2px #ff9933;
  box-shadow: 0 0 5px #b86614, 0 0 5px #b86614, 0 0 10px #b86614;
}

.accent-gold .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #b86614;
  border: #b86614 groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-gold .button-link:hover, .accent-gold .button-link:active, .accent-gold .button-link:focus {
  background-color: rgba(255, 153, 51, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #cc6600, 0 0 4px #cc6600, 0 0 0.75em #b86614, 0 0 0.75em #b86614, 0 0 1em #b86614;
}

.accent-gold .shaded {
  transition: background-color 0.1s;
}

.accent-gold .shaded:hover {
  background-color: rgba(255, 153, 51, 0.1);
  transition: background-color 0.1s;
}

.accent-gold .glow {
  color: #ff9933;
  text-shadow: 0 0 0.1em #e6801a, 0 0 0.1em #e6801a, 0 0 0.5em #e6801a, 0 0 0.75em #e6801a, 0 0 1em #e6801a;
}

.accent-gold .glow-anim {
  animation-name: neonFlash30deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash30deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash30deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash30deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #e6801a, 0 0 0.1em #e6801a;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #e6801a, 0 0 0.1 0.5em #e6801a;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #e6801a, 0 0 0.2em #e6801a;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #e6801a, 0 0 0.25em #e6801a, 0 0 0.5em #e6801a, 0 0 0.75em #e6801a;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #e6801a, 0 0 0.25em #e6801a, 0 0 0.5em #e6801a, 0 0 0.75em #e6801a, 0 0 1em #e6801a;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #e6801a, 0 0 0.25em #e6801a, 0 0 0.5em #e6801a, 0 0 0.75em #e6801a, 0 0 1em #e6801a;
  }
}

.accent-lime {
  /* 3.1: Global Accent Rules */
  color: #b9e635;
  border-color: #b9e635;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-lime a {
  text-decoration: none;
  color: #748f26;
  transition: text-shadow 0.10s;
}

.accent-lime a:hover, .accent-lime a:focus {
  outline: none;
  color: #b9e635;
  text-decoration: none;
  text-shadow: 0 0 0.5em #748f26, 0 0 0.75em #748f26, 0 0 1em #748f26;
  transition: text-shadow 0.10s;
}

.accent-lime p {
  color: darkAccent10;
}

.accent-lime img {
  border-color: #b9e635;
  box-shadow: 0 0 5px #748f26, 0 0 10px #748f26;
}

.accent-lime img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #748f26) drop-shadow(0 0 7px #748f26);
}

.accent-lime div {
  border-color: #b9e635;
}

.accent-lime table, .accent-lime th {
  border: 2px solid #b9e635;
}

.accent-lime td {
  border: 1px solid #b9e635;
}

.accent-lime hr {
  border-color: #b9e635;
  box-shadow: 0 0 5px #748f26;
}

.accent-lime .card {
  border: groove 2px #b9e635;
  color: #b9e635;
}

.accent-lime .card a {
  color: #95b731;
  border: transparent solid 2px;
}

.accent-lime .card a:hover {
  color: #b9e635;
}

.accent-lime .card-body {
  border-top: groove 2px #b9e635;
}

.accent-lime .modal {
  border: groove 2px #b9e635;
  box-shadow: 0 0 5px #748f26, 0 0 5px #748f26, 0 0 10px #748f26;
}

.accent-lime .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #748f26;
  border: #748f26 groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-lime .button-link:hover, .accent-lime .button-link:active, .accent-lime .button-link:focus {
  background-color: rgba(185, 230, 53, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #7da114, 0 0 4px #7da114, 0 0 0.75em #748f26, 0 0 0.75em #748f26, 0 0 1em #748f26;
}

.accent-lime .shaded {
  transition: background-color 0.1s;
}

.accent-lime .shaded:hover {
  background-color: rgba(185, 230, 53, 0.1);
  transition: background-color 0.1s;
}

.accent-lime .glow {
  color: #b9e635;
  text-shadow: 0 0 0.1em #95b731, 0 0 0.1em #95b731, 0 0 0.5em #95b731, 0 0 0.75em #95b731, 0 0 1em #95b731;
}

.accent-lime .glow-anim {
  animation-name: neonFlash75deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash75deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash75deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash75deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #95b731, 0 0 0.1em #95b731;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #95b731, 0 0 0.1 0.5em #95b731;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #95b731, 0 0 0.2em #95b731;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #95b731, 0 0 0.25em #95b731, 0 0 0.5em #95b731, 0 0 0.75em #95b731;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #95b731, 0 0 0.25em #95b731, 0 0 0.5em #95b731, 0 0 0.75em #95b731, 0 0 1em #95b731;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #95b731, 0 0 0.25em #95b731, 0 0 0.5em #95b731, 0 0 0.75em #95b731, 0 0 1em #95b731;
  }
}

.accent-green {
  /* 3.1: Global Accent Rules */
  color: #00cc00;
  border-color: #00cc00;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-green a {
  text-decoration: none;
  color: #0a5c0a;
  transition: text-shadow 0.10s;
}

.accent-green a:hover, .accent-green a:focus {
  outline: none;
  color: #00cc00;
  text-decoration: none;
  text-shadow: 0 0 0.5em #0a5c0a, 0 0 0.75em #0a5c0a, 0 0 1em #0a5c0a;
  transition: text-shadow 0.10s;
}

.accent-green p {
  color: darkAccent10;
}

.accent-green img {
  border-color: #00cc00;
  box-shadow: 0 0 5px #0a5c0a, 0 0 10px #0a5c0a;
}

.accent-green img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #0a5c0a) drop-shadow(0 0 7px #0a5c0a);
}

.accent-green div {
  border-color: #00cc00;
}

.accent-green table, .accent-green th {
  border: 2px solid #00cc00;
}

.accent-green td {
  border: 1px solid #00cc00;
}

.accent-green hr {
  border-color: #00cc00;
  box-shadow: 0 0 5px #0a5c0a;
}

.accent-green .card {
  border: groove 2px #00cc00;
  color: #00cc00;
}

.accent-green .card a {
  color: #0f8a0f;
  border: transparent solid 2px;
}

.accent-green .card a:hover {
  color: #00cc00;
}

.accent-green .card-body {
  border-top: groove 2px #00cc00;
}

.accent-green .modal {
  border: groove 2px #00cc00;
  box-shadow: 0 0 5px #0a5c0a, 0 0 5px #0a5c0a, 0 0 10px #0a5c0a;
}

.accent-green .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #0a5c0a;
  border: #0a5c0a groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-green .button-link:hover, .accent-green .button-link:active, .accent-green .button-link:focus {
  background-color: rgba(0, 204, 0, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #006600, 0 0 4px #006600, 0 0 0.75em #0a5c0a, 0 0 0.75em #0a5c0a, 0 0 1em #0a5c0a;
}

.accent-green .shaded {
  transition: background-color 0.1s;
}

.accent-green .shaded:hover {
  background-color: rgba(0, 204, 0, 0.1);
  transition: background-color 0.1s;
}

.accent-green .glow {
  color: #00cc00;
  text-shadow: 0 0 0.1em #0f8a0f, 0 0 0.1em #0f8a0f, 0 0 0.5em #0f8a0f, 0 0 0.75em #0f8a0f, 0 0 1em #0f8a0f;
}

.accent-green .glow-anim {
  animation-name: neonFlash120deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash120deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash120deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash120deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #0f8a0f, 0 0 0.1em #0f8a0f;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #0f8a0f, 0 0 0.1 0.5em #0f8a0f;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #0f8a0f, 0 0 0.2em #0f8a0f;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #0f8a0f, 0 0 0.25em #0f8a0f, 0 0 0.5em #0f8a0f, 0 0 0.75em #0f8a0f;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #0f8a0f, 0 0 0.25em #0f8a0f, 0 0 0.5em #0f8a0f, 0 0 0.75em #0f8a0f, 0 0 1em #0f8a0f;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #0f8a0f, 0 0 0.25em #0f8a0f, 0 0 0.5em #0f8a0f, 0 0 0.75em #0f8a0f, 0 0 1em #0f8a0f;
  }
}

.accent-aqua {
  /* 3.1: Global Accent Rules */
  color: #00ff99;
  border-color: #00ff99;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-aqua a {
  text-decoration: none;
  color: #0f8a59;
  transition: text-shadow 0.10s;
}

.accent-aqua a:hover, .accent-aqua a:focus {
  outline: none;
  color: #00ff99;
  text-decoration: none;
  text-shadow: 0 0 0.5em #0f8a59, 0 0 0.75em #0f8a59, 0 0 1em #0f8a59;
  transition: text-shadow 0.10s;
}

.accent-aqua p {
  color: darkAccent10;
}

.accent-aqua img {
  border-color: #00ff99;
  box-shadow: 0 0 5px #0f8a59, 0 0 10px #0f8a59;
}

.accent-aqua img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #0f8a59) drop-shadow(0 0 7px #0f8a59);
}

.accent-aqua div {
  border-color: #00ff99;
}

.accent-aqua table, .accent-aqua th {
  border: 2px solid #00ff99;
}

.accent-aqua td {
  border: 1px solid #00ff99;
}

.accent-aqua hr {
  border-color: #00ff99;
  box-shadow: 0 0 5px #0f8a59;
}

.accent-aqua .card {
  border: groove 2px #00ff99;
  color: #00ff99;
}

.accent-aqua .card a {
  color: #14b876;
  border: transparent solid 2px;
}

.accent-aqua .card a:hover {
  color: #00ff99;
}

.accent-aqua .card-body {
  border-top: groove 2px #00ff99;
}

.accent-aqua .modal {
  border: groove 2px #00ff99;
  box-shadow: 0 0 5px #0f8a59, 0 0 5px #0f8a59, 0 0 10px #0f8a59;
}

.accent-aqua .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #0f8a59;
  border: #0f8a59 groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-aqua .button-link:hover, .accent-aqua .button-link:active, .accent-aqua .button-link:focus {
  background-color: rgba(0, 255, 153, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #00995c, 0 0 4px #00995c, 0 0 0.75em #0f8a59, 0 0 0.75em #0f8a59, 0 0 1em #0f8a59;
}

.accent-aqua .shaded {
  transition: background-color 0.1s;
}

.accent-aqua .shaded:hover {
  background-color: rgba(0, 255, 153, 0.1);
  transition: background-color 0.1s;
}

.accent-aqua .glow {
  color: #00ff99;
  text-shadow: 0 0 0.1em #14b876, 0 0 0.1em #14b876, 0 0 0.5em #14b876, 0 0 0.75em #14b876, 0 0 1em #14b876;
}

.accent-aqua .glow-anim {
  animation-name: neonFlash156deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash156deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash156deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash156deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #14b876, 0 0 0.1em #14b876;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #14b876, 0 0 0.1 0.5em #14b876;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #14b876, 0 0 0.2em #14b876;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #14b876, 0 0 0.25em #14b876, 0 0 0.5em #14b876, 0 0 0.75em #14b876;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #14b876, 0 0 0.25em #14b876, 0 0 0.5em #14b876, 0 0 0.75em #14b876, 0 0 1em #14b876;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #14b876, 0 0 0.25em #14b876, 0 0 0.5em #14b876, 0 0 0.75em #14b876, 0 0 1em #14b876;
  }
}

.accent-light-blue {
  /* 3.1: Global Accent Rules */
  color: #00ccff;
  border-color: #00ccff;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-light-blue a {
  text-decoration: none;
  color: #0f718a;
  transition: text-shadow 0.10s;
}

.accent-light-blue a:hover, .accent-light-blue a:focus {
  outline: none;
  color: #00ccff;
  text-decoration: none;
  text-shadow: 0 0 0.5em #0f718a, 0 0 0.75em #0f718a, 0 0 1em #0f718a;
  transition: text-shadow 0.10s;
}

.accent-light-blue p {
  color: darkAccent10;
}

.accent-light-blue img {
  border-color: #00ccff;
  box-shadow: 0 0 5px #0f718a, 0 0 10px #0f718a;
}

.accent-light-blue img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #0f718a) drop-shadow(0 0 7px #0f718a);
}

.accent-light-blue div {
  border-color: #00ccff;
}

.accent-light-blue table, .accent-light-blue th {
  border: 2px solid #00ccff;
}

.accent-light-blue td {
  border: 1px solid #00ccff;
}

.accent-light-blue hr {
  border-color: #00ccff;
  box-shadow: 0 0 5px #0f718a;
}

.accent-light-blue .card {
  border: groove 2px #00ccff;
  color: #00ccff;
}

.accent-light-blue .card a {
  color: #1497b8;
  border: transparent solid 2px;
}

.accent-light-blue .card a:hover {
  color: #00ccff;
}

.accent-light-blue .card-body {
  border-top: groove 2px #00ccff;
}

.accent-light-blue .modal {
  border: groove 2px #00ccff;
  box-shadow: 0 0 5px #0f718a, 0 0 5px #0f718a, 0 0 10px #0f718a;
}

.accent-light-blue .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #0f718a;
  border: #0f718a groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-light-blue .button-link:hover, .accent-light-blue .button-link:active, .accent-light-blue .button-link:focus {
  background-color: rgba(0, 204, 255, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #007a99, 0 0 4px #007a99, 0 0 0.75em #0f718a, 0 0 0.75em #0f718a, 0 0 1em #0f718a;
}

.accent-light-blue .shaded {
  transition: background-color 0.1s;
}

.accent-light-blue .shaded:hover {
  background-color: rgba(0, 204, 255, 0.1);
  transition: background-color 0.1s;
}

.accent-light-blue .glow {
  color: #00ccff;
  text-shadow: 0 0 0.1em #1497b8, 0 0 0.1em #1497b8, 0 0 0.5em #1497b8, 0 0 0.75em #1497b8, 0 0 1em #1497b8;
}

.accent-light-blue .glow-anim {
  animation-name: neonFlash192deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash192deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash192deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash192deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #1497b8, 0 0 0.1em #1497b8;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #1497b8, 0 0 0.1 0.5em #1497b8;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #1497b8, 0 0 0.2em #1497b8;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #1497b8, 0 0 0.25em #1497b8, 0 0 0.5em #1497b8, 0 0 0.75em #1497b8;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #1497b8, 0 0 0.25em #1497b8, 0 0 0.5em #1497b8, 0 0 0.75em #1497b8, 0 0 1em #1497b8;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #1497b8, 0 0 0.25em #1497b8, 0 0 0.5em #1497b8, 0 0 0.75em #1497b8, 0 0 1em #1497b8;
  }
}

.accent-pink {
  /* 3.1: Global Accent Rules */
  color: #c85bff;
  border-color: #c85bff;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-pink a {
  text-decoration: none;
  color: #9a18dc;
  transition: text-shadow 0.10s;
}

.accent-pink a:hover, .accent-pink a:focus {
  outline: none;
  color: #c85bff;
  text-decoration: none;
  text-shadow: 0 0 0.5em #9a18dc, 0 0 0.75em #9a18dc, 0 0 1em #9a18dc;
  transition: text-shadow 0.10s;
}

.accent-pink p {
  color: darkAccent10;
}

.accent-pink img {
  border-color: #c85bff;
  box-shadow: 0 0 5px #9a18dc, 0 0 10px #9a18dc;
}

.accent-pink img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #9a18dc) drop-shadow(0 0 7px #9a18dc);
}

.accent-pink div {
  border-color: #c85bff;
}

.accent-pink table, .accent-pink th {
  border: 2px solid #c85bff;
}

.accent-pink td {
  border: 1px solid #c85bff;
}

.accent-pink hr {
  border-color: #c85bff;
  box-shadow: 0 0 5px #9a18dc;
}

.accent-pink .card {
  border: groove 2px #c85bff;
  color: #c85bff;
}

.accent-pink .card a {
  color: #b03eea;
  border: transparent solid 2px;
}

.accent-pink .card a:hover {
  color: #c85bff;
}

.accent-pink .card-body {
  border-top: groove 2px #c85bff;
}

.accent-pink .modal {
  border: groove 2px #c85bff;
  box-shadow: 0 0 5px #9a18dc, 0 0 5px #9a18dc, 0 0 10px #9a18dc;
}

.accent-pink .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #9a18dc;
  border: #9a18dc groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-pink .button-link:hover, .accent-pink .button-link:active, .accent-pink .button-link:focus {
  background-color: rgba(200, 91, 255, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #a200f4, 0 0 4px #a200f4, 0 0 0.75em #9a18dc, 0 0 0.75em #9a18dc, 0 0 1em #9a18dc;
}

.accent-pink .shaded {
  transition: background-color 0.1s;
}

.accent-pink .shaded:hover {
  background-color: rgba(200, 91, 255, 0.1);
  transition: background-color 0.1s;
}

.accent-pink .glow {
  color: #c85bff;
  text-shadow: 0 0 0.1em #b03eea, 0 0 0.1em #b03eea, 0 0 0.5em #b03eea, 0 0 0.75em #b03eea, 0 0 1em #b03eea;
}

.accent-pink .glow-anim {
  animation-name: neonFlash280deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash280deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash280deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash280deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #b03eea, 0 0 0.1em #b03eea;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #b03eea, 0 0 0.1 0.5em #b03eea;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #b03eea, 0 0 0.2em #b03eea;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #b03eea, 0 0 0.25em #b03eea, 0 0 0.5em #b03eea, 0 0 0.75em #b03eea;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #b03eea, 0 0 0.25em #b03eea, 0 0 0.5em #b03eea, 0 0 0.75em #b03eea, 0 0 1em #b03eea;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #b03eea, 0 0 0.25em #b03eea, 0 0 0.5em #b03eea, 0 0 0.75em #b03eea, 0 0 1em #b03eea;
  }
}

.accent-red {
  /* 3.1: Global Accent Rules */
  color: #ec3030;
  border-color: #ec3030;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-red a {
  text-decoration: none;
  color: #942222;
  transition: text-shadow 0.10s;
}

.accent-red a:hover, .accent-red a:focus {
  outline: none;
  color: #ec3030;
  text-decoration: none;
  text-shadow: 0 0 0.5em #942222, 0 0 0.75em #942222, 0 0 1em #942222;
  transition: text-shadow 0.10s;
}

.accent-red p {
  color: darkAccent10;
}

.accent-red img {
  border-color: #ec3030;
  box-shadow: 0 0 5px #942222, 0 0 10px #942222;
}

.accent-red img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #942222) drop-shadow(0 0 7px #942222);
}

.accent-red div {
  border-color: #ec3030;
}

.accent-red table, .accent-red th {
  border: 2px solid #ec3030;
}

.accent-red td {
  border: 1px solid #ec3030;
}

.accent-red hr {
  border-color: #ec3030;
  box-shadow: 0 0 5px #942222;
}

.accent-red .card {
  border: groove 2px #ec3030;
  color: #ec3030;
}

.accent-red .card a {
  color: #be2b2b;
  border: transparent solid 2px;
}

.accent-red .card a:hover {
  color: #ec3030;
}

.accent-red .card-body {
  border-top: groove 2px #ec3030;
}

.accent-red .modal {
  border: groove 2px #ec3030;
  box-shadow: 0 0 5px #942222, 0 0 5px #942222, 0 0 10px #942222;
}

.accent-red .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #942222;
  border: #942222 groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-red .button-link:hover, .accent-red .button-link:active, .accent-red .button-link:focus {
  background-color: rgba(236, 48, 48, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #a70f0f, 0 0 4px #a70f0f, 0 0 0.75em #942222, 0 0 0.75em #942222, 0 0 1em #942222;
}

.accent-red .shaded {
  transition: background-color 0.1s;
}

.accent-red .shaded:hover {
  background-color: rgba(236, 48, 48, 0.1);
  transition: background-color 0.1s;
}

.accent-red .glow {
  color: #ec3030;
  text-shadow: 0 0 0.1em #be2b2b, 0 0 0.1em #be2b2b, 0 0 0.5em #be2b2b, 0 0 0.75em #be2b2b, 0 0 1em #be2b2b;
}

.accent-red .glow-anim {
  animation-name: neonFlash0deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash0deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash0deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash0deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #be2b2b, 0 0 0.1em #be2b2b;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #be2b2b, 0 0 0.1 0.5em #be2b2b;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #be2b2b, 0 0 0.2em #be2b2b;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #be2b2b, 0 0 0.25em #be2b2b, 0 0 0.5em #be2b2b, 0 0 0.75em #be2b2b;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #be2b2b, 0 0 0.25em #be2b2b, 0 0 0.5em #be2b2b, 0 0 0.75em #be2b2b, 0 0 1em #be2b2b;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #be2b2b, 0 0 0.25em #be2b2b, 0 0 0.5em #be2b2b, 0 0 0.75em #be2b2b, 0 0 1em #be2b2b;
  }
}

.accent-clear-sky {
  /* 3.1: Global Accent Rules */
  color: #41ffff;
  border-color: #41ffff;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */
}

.accent-clear-sky a {
  text-decoration: none;
  color: #16c4c4;
  transition: text-shadow 0.10s;
}

.accent-clear-sky a:hover, .accent-clear-sky a:focus {
  outline: none;
  color: #41ffff;
  text-decoration: none;
  text-shadow: 0 0 0.5em #16c4c4, 0 0 0.75em #16c4c4, 0 0 1em #16c4c4;
  transition: text-shadow 0.10s;
}

.accent-clear-sky p {
  color: darkAccent10;
}

.accent-clear-sky img {
  border-color: #41ffff;
  box-shadow: 0 0 5px #16c4c4, 0 0 10px #16c4c4;
}

.accent-clear-sky img.with-filter-glow {
  box-shadow: none;
  filter: drop-shadow(0 0 5px #16c4c4) drop-shadow(0 0 7px #16c4c4);
}

.accent-clear-sky div {
  border-color: #41ffff;
}

.accent-clear-sky table, .accent-clear-sky th {
  border: 2px solid #41ffff;
}

.accent-clear-sky td {
  border: 1px solid #41ffff;
}

.accent-clear-sky hr {
  border-color: #41ffff;
  box-shadow: 0 0 5px #16c4c4;
}

.accent-clear-sky .card {
  border: groove 2px #41ffff;
  color: #41ffff;
}

.accent-clear-sky .card a {
  color: #26e7e7;
  border: transparent solid 2px;
}

.accent-clear-sky .card a:hover {
  color: #41ffff;
}

.accent-clear-sky .card-body {
  border-top: groove 2px #41ffff;
}

.accent-clear-sky .modal {
  border: groove 2px #41ffff;
  box-shadow: 0 0 5px #16c4c4, 0 0 5px #16c4c4, 0 0 10px #16c4c4;
}

.accent-clear-sky .button-link {
  display: inline-block;
  padding: 0.25em;
  color: #16c4c4;
  border: #16c4c4 groove 2px;
  border-radius: 0.25em;
  font-size: 1.5em;
  transition: all 0.10s;
}

.accent-clear-sky .button-link:hover, .accent-clear-sky .button-link:active, .accent-clear-sky .button-link:focus {
  background-color: rgba(65, 255, 255, 0.15);
  transition: background-color 0.1s;
  text-shadow: 0 0 4px #00dada, 0 0 4px #00dada, 0 0 0.75em #16c4c4, 0 0 0.75em #16c4c4, 0 0 1em #16c4c4;
}

.accent-clear-sky .shaded {
  transition: background-color 0.1s;
}

.accent-clear-sky .shaded:hover {
  background-color: rgba(65, 255, 255, 0.1);
  transition: background-color 0.1s;
}

.accent-clear-sky .glow {
  color: #41ffff;
  text-shadow: 0 0 0.1em #26e7e7, 0 0 0.1em #26e7e7, 0 0 0.5em #26e7e7, 0 0 0.75em #26e7e7, 0 0 1em #26e7e7;
}

.accent-clear-sky .glow-anim {
  animation-name: neonFlash180deg;
  animation-duration: 8s;
  animation-delay: 0.25s;
  animation-iteration-count: infinite;
  -moz-animation-name: neonFlash180deg;
  -moz-animation-duration: 8s;
  -moz-animation-delay: 0.25s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: neonFlash180deg;
  -webkit-animation-duration: 8s;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-iteration-count: infinite;
  /* Force GPU Rendering on the animated glow (should increase performances on mobile devices) */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@keyframes neonFlash180deg {
  0% {
    opacity: 0.1;
    text-shadow: none;
  }
  2% {
    opacity: 0.7;
    text-shadow: 0 0 0.1em #26e7e7, 0 0 0.1em #26e7e7;
  }
  5% {
    opacity: 0.3;
    text-shadow: none;
  }
  8% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.80;
    text-shadow: 0 0 0.1em #26e7e7, 0 0 0.1 0.5em #26e7e7;
  }
  12% {
    opacity: 1;
    text-shadow: 0 0 0.1em #26e7e7, 0 0 0.2em #26e7e7;
  }
  15% {
    opacity: 0.3;
    text-shadow: none;
  }
  17% {
    opacity: 1;
    text-shadow: 0 0 0.1em #26e7e7, 0 0 0.25em #26e7e7, 0 0 0.5em #26e7e7, 0 0 0.75em #26e7e7;
  }
  18% {
    opacity: 1;
    text-shadow: 0 0 0.1em #26e7e7, 0 0 0.25em #26e7e7, 0 0 0.5em #26e7e7, 0 0 0.75em #26e7e7, 0 0 1em #26e7e7;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0.1em #26e7e7, 0 0 0.25em #26e7e7, 0 0 0.5em #26e7e7, 0 0 0.75em #26e7e7, 0 0 1em #26e7e7;
  }
}
