/**********************
Table of Contents:

1: Global Rules
2: Components
3: Color Accent
  3.1: Global Accent Rules
  3.2: Component Accent Rules
  3.3: Special Effects
4: Color Accent Classes
*************************/
/********************
1: Global Rules
*********************/
*, *::before, *::after {
  box-sizing: border-box; }

@font-face {
  font-family: "Poiret One";
  src: url("../res/font/PoiretOne-Regular.ttf"); }

@font-face {
  font-family: "Gruppo";
  src: url("../res/font/Gruppo-Regular.ttf"); }

@font-face {
  font-family: "JetBrains Mono";
  src: url("../res/font/JetBrainsMono-Regular.ttf"); }

body {
  background-color: #000;
  font-family: Raleway, sans-serif; }
  body h1 {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0.5em 0; }

img {
  max-width: 100%; }

/********************
2: Components
*********************/
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  background-color: #000;
  max-width: 400px;
  align-items: center; }

.card-body {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%; }

.card-title {
  margin-bottom: 0.75rem;
  font-weight: normal; }

/********************
3: Color Accent
*********************/
/********************
4: Color Accent Classes
*********************/
.accent-gold {
  /* 3.1: Global Accent Rules */
  color: #ff9933;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-gold a {
    text-decoration: none;
    color: #cc6600;
    transition: text-shadow 0.25s; }
  .accent-gold a:hover, .accent-gold a:focus {
    color: #ff9933;
    text-decoration: none;
    text-shadow: 0 0 5px #cc6600, 0 0 10px #cc6600, 0 0 15px #cc6600, 0 0 20px #cc6600, 0 0 25px #cc6600;
    transition: text-shadow 0.25s; }
  .accent-gold p {
    color: #ff8000; }
  .accent-gold img {
    border-color: #ff9933;
    box-shadow: 0 0 5px #cc6600, 0 0 10px #cc6600; }
  .accent-gold div {
    border-color: #ff9933; }
  .accent-gold table, .accent-gold th {
    border: 2px solid #ff9933; }
  .accent-gold td {
    border: 1px solid #ff9933; }
  .accent-gold .card {
    border: groove 2px #ff9933;
    color: #ff9933; }
    .accent-gold .card a {
      color: #ff9933;
      border: transparent solid 2px; }
  .accent-gold .card-body {
    border-top: groove 2px #ff9933; }
  .accent-gold .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #ff9933;
    border: #ff9933 groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-gold .button-link:hover, .accent-gold .button-link:active, .accent-gold .button-link:focus {
    background-color: rgba(255, 153, 51, 0.15);
    transition: background-color 0.25s; }
  .accent-gold .shaded {
    transition: background-color 0.25s; }
  .accent-gold .shaded:hover {
    background-color: rgba(255, 153, 51, 0.1);
    transition: background-color 0.25s; }
  .accent-gold .glow {
    color: #ff9933;
    text-shadow: 0 0 10px #ff9933, 0 0 20px #ff9933; }
  .accent-gold .glow-anim {
    color: #ff9933;
    -webkit-animation: glow30deg 2s ease-in-out infinite alternate;
    -moz-animation: glow30deg 2s ease-in-out infinite alternate;
    animation: glow30deg 2s ease-in-out infinite alternate; }

@keyframes glow30deg {
  from {
    text-shadow: 0 0 5px #994d00, 0 0 10px #994d00, 0 0 15px #994d00, 0 0 20px #994d00, 0 0 25px #994d00; }
  to {
    text-shadow: 0 0 10px #e67300, 0 0 15px #e67300, 0 0 20px #e67300, 0 0 25px #e67300, 0 0 30px #e67300; } }

.accent-lime {
  /* 3.1: Global Accent Rules */
  color: #b9e635;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-lime a {
    text-decoration: none;
    color: #7da114;
    transition: text-shadow 0.25s; }
  .accent-lime a:hover, .accent-lime a:focus {
    color: #b9e635;
    text-decoration: none;
    text-shadow: 0 0 5px #7da114, 0 0 10px #7da114, 0 0 15px #7da114, 0 0 20px #7da114, 0 0 25px #7da114;
    transition: text-shadow 0.25s; }
  .accent-lime p {
    color: #a0ce1a; }
  .accent-lime img {
    border-color: #b9e635;
    box-shadow: 0 0 5px #7da114, 0 0 10px #7da114; }
  .accent-lime div {
    border-color: #b9e635; }
  .accent-lime table, .accent-lime th {
    border: 2px solid #b9e635; }
  .accent-lime td {
    border: 1px solid #b9e635; }
  .accent-lime .card {
    border: groove 2px #b9e635;
    color: #b9e635; }
    .accent-lime .card a {
      color: #b9e635;
      border: transparent solid 2px; }
  .accent-lime .card-body {
    border-top: groove 2px #b9e635; }
  .accent-lime .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #b9e635;
    border: #b9e635 groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-lime .button-link:hover, .accent-lime .button-link:active, .accent-lime .button-link:focus {
    background-color: rgba(185, 230, 53, 0.15);
    transition: background-color 0.25s; }
  .accent-lime .shaded {
    transition: background-color 0.25s; }
  .accent-lime .shaded:hover {
    background-color: rgba(185, 230, 53, 0.1);
    transition: background-color 0.25s; }
  .accent-lime .glow {
    color: #b9e635;
    text-shadow: 0 0 10px #b9e635, 0 0 20px #b9e635; }
  .accent-lime .glow-anim {
    color: #b9e635;
    -webkit-animation: glow75.25424deg 2s ease-in-out infinite alternate;
    -moz-animation: glow75.25424deg 2s ease-in-out infinite alternate;
    animation: glow75.25424deg 2s ease-in-out infinite alternate; }

@keyframes glow75.25424deg {
  from {
    text-shadow: 0 0 5px #5a740e, 0 0 10px #5a740e, 0 0 15px #5a740e, 0 0 20px #5a740e, 0 0 25px #5a740e; }
  to {
    text-shadow: 0 0 10px #8fb817, 0 0 15px #8fb817, 0 0 20px #8fb817, 0 0 25px #8fb817, 0 0 30px #8fb817; } }

.accent-green {
  /* 3.1: Global Accent Rules */
  color: #00cc00;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-green a {
    text-decoration: none;
    color: #006600;
    transition: text-shadow 0.25s; }
  .accent-green a:hover, .accent-green a:focus {
    color: #00cc00;
    text-decoration: none;
    text-shadow: 0 0 5px #006600, 0 0 10px #006600, 0 0 15px #006600, 0 0 20px #006600, 0 0 25px #006600;
    transition: text-shadow 0.25s; }
  .accent-green p {
    color: #009900; }
  .accent-green img {
    border-color: #00cc00;
    box-shadow: 0 0 5px #006600, 0 0 10px #006600; }
  .accent-green div {
    border-color: #00cc00; }
  .accent-green table, .accent-green th {
    border: 2px solid #00cc00; }
  .accent-green td {
    border: 1px solid #00cc00; }
  .accent-green .card {
    border: groove 2px #00cc00;
    color: #00cc00; }
    .accent-green .card a {
      color: #00cc00;
      border: transparent solid 2px; }
  .accent-green .card-body {
    border-top: groove 2px #00cc00; }
  .accent-green .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #00cc00;
    border: #00cc00 groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-green .button-link:hover, .accent-green .button-link:active, .accent-green .button-link:focus {
    background-color: rgba(0, 204, 0, 0.15);
    transition: background-color 0.25s; }
  .accent-green .shaded {
    transition: background-color 0.25s; }
  .accent-green .shaded:hover {
    background-color: rgba(0, 204, 0, 0.1);
    transition: background-color 0.25s; }
  .accent-green .glow {
    color: #00cc00;
    text-shadow: 0 0 10px #00cc00, 0 0 20px #00cc00; }
  .accent-green .glow-anim {
    color: #00cc00;
    -webkit-animation: glow120deg 2s ease-in-out infinite alternate;
    -moz-animation: glow120deg 2s ease-in-out infinite alternate;
    animation: glow120deg 2s ease-in-out infinite alternate; }

@keyframes glow120deg {
  from {
    text-shadow: 0 0 5px #003300, 0 0 10px #003300, 0 0 15px #003300, 0 0 20px #003300, 0 0 25px #003300; }
  to {
    text-shadow: 0 0 10px green, 0 0 15px green, 0 0 20px green, 0 0 25px green, 0 0 30px green; } }

.accent-aqua {
  /* 3.1: Global Accent Rules */
  color: #00ff99;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-aqua a {
    text-decoration: none;
    color: #00995c;
    transition: text-shadow 0.25s; }
  .accent-aqua a:hover, .accent-aqua a:focus {
    color: #00ff99;
    text-decoration: none;
    text-shadow: 0 0 5px #00995c, 0 0 10px #00995c, 0 0 15px #00995c, 0 0 20px #00995c, 0 0 25px #00995c;
    transition: text-shadow 0.25s; }
  .accent-aqua p {
    color: #00cc7a; }
  .accent-aqua img {
    border-color: #00ff99;
    box-shadow: 0 0 5px #00995c, 0 0 10px #00995c; }
  .accent-aqua div {
    border-color: #00ff99; }
  .accent-aqua table, .accent-aqua th {
    border: 2px solid #00ff99; }
  .accent-aqua td {
    border: 1px solid #00ff99; }
  .accent-aqua .card {
    border: groove 2px #00ff99;
    color: #00ff99; }
    .accent-aqua .card a {
      color: #00ff99;
      border: transparent solid 2px; }
  .accent-aqua .card-body {
    border-top: groove 2px #00ff99; }
  .accent-aqua .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #00ff99;
    border: #00ff99 groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-aqua .button-link:hover, .accent-aqua .button-link:active, .accent-aqua .button-link:focus {
    background-color: rgba(0, 255, 153, 0.15);
    transition: background-color 0.25s; }
  .accent-aqua .shaded {
    transition: background-color 0.25s; }
  .accent-aqua .shaded:hover {
    background-color: rgba(0, 255, 153, 0.1);
    transition: background-color 0.25s; }
  .accent-aqua .glow {
    color: #00ff99;
    text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99; }
  .accent-aqua .glow-anim {
    color: #00ff99;
    -webkit-animation: glow156deg 2s ease-in-out infinite alternate;
    -moz-animation: glow156deg 2s ease-in-out infinite alternate;
    animation: glow156deg 2s ease-in-out infinite alternate; }

@keyframes glow156deg {
  from {
    text-shadow: 0 0 5px #00663d, 0 0 10px #00663d, 0 0 15px #00663d, 0 0 20px #00663d, 0 0 25px #00663d; }
  to {
    text-shadow: 0 0 10px #00b36b, 0 0 15px #00b36b, 0 0 20px #00b36b, 0 0 25px #00b36b, 0 0 30px #00b36b; } }

.accent-light-blue {
  /* 3.1: Global Accent Rules */
  color: #00ccff;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-light-blue a {
    text-decoration: none;
    color: #007a99;
    transition: text-shadow 0.25s; }
  .accent-light-blue a:hover, .accent-light-blue a:focus {
    color: #00ccff;
    text-decoration: none;
    text-shadow: 0 0 5px #007a99, 0 0 10px #007a99, 0 0 15px #007a99, 0 0 20px #007a99, 0 0 25px #007a99;
    transition: text-shadow 0.25s; }
  .accent-light-blue p {
    color: #00a3cc; }
  .accent-light-blue img {
    border-color: #00ccff;
    box-shadow: 0 0 5px #007a99, 0 0 10px #007a99; }
  .accent-light-blue div {
    border-color: #00ccff; }
  .accent-light-blue table, .accent-light-blue th {
    border: 2px solid #00ccff; }
  .accent-light-blue td {
    border: 1px solid #00ccff; }
  .accent-light-blue .card {
    border: groove 2px #00ccff;
    color: #00ccff; }
    .accent-light-blue .card a {
      color: #00ccff;
      border: transparent solid 2px; }
  .accent-light-blue .card-body {
    border-top: groove 2px #00ccff; }
  .accent-light-blue .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #00ccff;
    border: #00ccff groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-light-blue .button-link:hover, .accent-light-blue .button-link:active, .accent-light-blue .button-link:focus {
    background-color: rgba(0, 204, 255, 0.15);
    transition: background-color 0.25s; }
  .accent-light-blue .shaded {
    transition: background-color 0.25s; }
  .accent-light-blue .shaded:hover {
    background-color: rgba(0, 204, 255, 0.1);
    transition: background-color 0.25s; }
  .accent-light-blue .glow {
    color: #00ccff;
    text-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff; }
  .accent-light-blue .glow-anim {
    color: #00ccff;
    -webkit-animation: glow192deg 2s ease-in-out infinite alternate;
    -moz-animation: glow192deg 2s ease-in-out infinite alternate;
    animation: glow192deg 2s ease-in-out infinite alternate; }

@keyframes glow192deg {
  from {
    text-shadow: 0 0 5px #005266, 0 0 10px #005266, 0 0 15px #005266, 0 0 20px #005266, 0 0 25px #005266; }
  to {
    text-shadow: 0 0 10px #008fb3, 0 0 15px #008fb3, 0 0 20px #008fb3, 0 0 25px #008fb3, 0 0 30px #008fb3; } }

.accent-pink {
  /* 3.1: Global Accent Rules */
  color: #c85bff;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-pink a {
    text-decoration: none;
    color: #a200f4;
    transition: text-shadow 0.25s; }
  .accent-pink a:hover, .accent-pink a:focus {
    color: #c85bff;
    text-decoration: none;
    text-shadow: 0 0 5px #a200f4, 0 0 10px #a200f4, 0 0 15px #a200f4, 0 0 20px #a200f4, 0 0 25px #a200f4;
    transition: text-shadow 0.25s; }
  .accent-pink p {
    color: #b728ff; }
  .accent-pink img {
    border-color: #c85bff;
    box-shadow: 0 0 5px #a200f4, 0 0 10px #a200f4; }
  .accent-pink div {
    border-color: #c85bff; }
  .accent-pink table, .accent-pink th {
    border: 2px solid #c85bff; }
  .accent-pink td {
    border: 1px solid #c85bff; }
  .accent-pink .card {
    border: groove 2px #c85bff;
    color: #c85bff; }
    .accent-pink .card a {
      color: #c85bff;
      border: transparent solid 2px; }
  .accent-pink .card-body {
    border-top: groove 2px #c85bff; }
  .accent-pink .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #c85bff;
    border: #c85bff groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-pink .button-link:hover, .accent-pink .button-link:active, .accent-pink .button-link:focus {
    background-color: rgba(200, 91, 255, 0.15);
    transition: background-color 0.25s; }
  .accent-pink .shaded {
    transition: background-color 0.25s; }
  .accent-pink .shaded:hover {
    background-color: rgba(200, 91, 255, 0.1);
    transition: background-color 0.25s; }
  .accent-pink .glow {
    color: #c85bff;
    text-shadow: 0 0 10px #c85bff, 0 0 20px #c85bff; }
  .accent-pink .glow-anim {
    color: #c85bff;
    -webkit-animation: glow279.87805deg 2s ease-in-out infinite alternate;
    -moz-animation: glow279.87805deg 2s ease-in-out infinite alternate;
    animation: glow279.87805deg 2s ease-in-out infinite alternate; }

@keyframes glow279.87805deg {
  from {
    text-shadow: 0 0 5px #8000c1, 0 0 10px #8000c1, 0 0 15px #8000c1, 0 0 20px #8000c1, 0 0 25px #8000c1; }
  to {
    text-shadow: 0 0 10px #ae0fff, 0 0 15px #ae0fff, 0 0 20px #ae0fff, 0 0 25px #ae0fff, 0 0 30px #ae0fff; } }

.accent-red {
  /* 3.1: Global Accent Rules */
  color: #ec3030;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-red a {
    text-decoration: none;
    color: #a70f0f;
    transition: text-shadow 0.25s; }
  .accent-red a:hover, .accent-red a:focus {
    color: #ec3030;
    text-decoration: none;
    text-shadow: 0 0 5px #a70f0f, 0 0 10px #a70f0f, 0 0 15px #a70f0f, 0 0 20px #a70f0f, 0 0 25px #a70f0f;
    transition: text-shadow 0.25s; }
  .accent-red p {
    color: #d51414; }
  .accent-red img {
    border-color: #ec3030;
    box-shadow: 0 0 5px #a70f0f, 0 0 10px #a70f0f; }
  .accent-red div {
    border-color: #ec3030; }
  .accent-red table, .accent-red th {
    border: 2px solid #ec3030; }
  .accent-red td {
    border: 1px solid #ec3030; }
  .accent-red .card {
    border: groove 2px #ec3030;
    color: #ec3030; }
    .accent-red .card a {
      color: #ec3030;
      border: transparent solid 2px; }
  .accent-red .card-body {
    border-top: groove 2px #ec3030; }
  .accent-red .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #ec3030;
    border: #ec3030 groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-red .button-link:hover, .accent-red .button-link:active, .accent-red .button-link:focus {
    background-color: rgba(236, 48, 48, 0.15);
    transition: background-color 0.25s; }
  .accent-red .shaded {
    transition: background-color 0.25s; }
  .accent-red .shaded:hover {
    background-color: rgba(236, 48, 48, 0.1);
    transition: background-color 0.25s; }
  .accent-red .glow {
    color: #ec3030;
    text-shadow: 0 0 10px #ec3030, 0 0 20px #ec3030; }
  .accent-red .glow-anim {
    color: #ec3030;
    -webkit-animation: glow0deg 2s ease-in-out infinite alternate;
    -moz-animation: glow0deg 2s ease-in-out infinite alternate;
    animation: glow0deg 2s ease-in-out infinite alternate; }

@keyframes glow0deg {
  from {
    text-shadow: 0 0 5px #780b0b, 0 0 10px #780b0b, 0 0 15px #780b0b, 0 0 20px #780b0b, 0 0 25px #780b0b; }
  to {
    text-shadow: 0 0 10px #be1111, 0 0 15px #be1111, 0 0 20px #be1111, 0 0 25px #be1111, 0 0 30px #be1111; } }

.accent-clear-sky {
  /* 3.1: Global Accent Rules */
  color: #41ffff;
  /* 3.2: Component Accent Rules */
  /* 3.3: Special Effects */ }
  .accent-clear-sky a {
    text-decoration: none;
    color: #00dada;
    transition: text-shadow 0.25s; }
  .accent-clear-sky a:hover, .accent-clear-sky a:focus {
    color: #41ffff;
    text-decoration: none;
    text-shadow: 0 0 5px #00dada, 0 0 10px #00dada, 0 0 15px #00dada, 0 0 20px #00dada, 0 0 25px #00dada;
    transition: text-shadow 0.25s; }
  .accent-clear-sky p {
    color: #0effff; }
  .accent-clear-sky img {
    border-color: #41ffff;
    box-shadow: 0 0 5px #00dada, 0 0 10px #00dada; }
  .accent-clear-sky div {
    border-color: #41ffff; }
  .accent-clear-sky table, .accent-clear-sky th {
    border: 2px solid #41ffff; }
  .accent-clear-sky td {
    border: 1px solid #41ffff; }
  .accent-clear-sky .card {
    border: groove 2px #41ffff;
    color: #41ffff; }
    .accent-clear-sky .card a {
      color: #41ffff;
      border: transparent solid 2px; }
  .accent-clear-sky .card-body {
    border-top: groove 2px #41ffff; }
  .accent-clear-sky .button-link {
    display: inline-block;
    padding: 0.5em;
    color: #41ffff;
    border: #41ffff groove 2px;
    border-radius: 0.25em;
    transition: all 0.25s; }
  .accent-clear-sky .button-link:hover, .accent-clear-sky .button-link:active, .accent-clear-sky .button-link:focus {
    background-color: rgba(65, 255, 255, 0.15);
    transition: background-color 0.25s; }
  .accent-clear-sky .shaded {
    transition: background-color 0.25s; }
  .accent-clear-sky .shaded:hover {
    background-color: rgba(65, 255, 255, 0.1);
    transition: background-color 0.25s; }
  .accent-clear-sky .glow {
    color: #41ffff;
    text-shadow: 0 0 10px #41ffff, 0 0 20px #41ffff; }
  .accent-clear-sky .glow-anim {
    color: #41ffff;
    -webkit-animation: glow180deg 2s ease-in-out infinite alternate;
    -moz-animation: glow180deg 2s ease-in-out infinite alternate;
    animation: glow180deg 2s ease-in-out infinite alternate; }

@keyframes glow180deg {
  from {
    text-shadow: 0 0 5px #00a7a7, 0 0 10px #00a7a7, 0 0 15px #00a7a7, 0 0 20px #00a7a7, 0 0 25px #00a7a7; }
  to {
    text-shadow: 0 0 10px #00f4f4, 0 0 15px #00f4f4, 0 0 20px #00f4f4, 0 0 25px #00f4f4, 0 0 30px #00f4f4; } }
