$gold: #ff9933;
$lime: #ccff33;
$green: #00cc00;
$aqua: #00ff99;
$lightBlue: #00ccff;
$pink: #cc66ff;
$red: #c00000;
$clearSky: #55ffff;

/*General -------------------------------------------*/
body {
  background-color: #070707;
  font-family: Raleway, sans-serif;

  h1 {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
  }
}

/*Card Customization -------------------------------*/
.card {
  background-color: #070707;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top {
  border-radius: 0.25rem;
}

.card-body {
  width: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Load Fonts ---------------------------------------*/
@font-face {
  font-family: "Poiret One";
  src: url('../res/font/PoiretOne-Regular.ttf')
}

@font-face {
  font-family: "Gruppo";
  src: url('../res/font/Gruppo-Regular.ttf')
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../res/font/JetBrainsMono-Regular.ttf");
}

/* Accent color classes ***************************/
@mixin apply-accent-color($color) {
  color: $color;

  /* See general a customization above */
  a {
    color: adjust_color($color, $lightness: -20%);
    transition: text-shadow 0.25s;
  }

  a:hover {
    color: $color;
    text-decoration: none;
    text-shadow:
            0 0 5px adjust_color($color, $lightness: -30%),
            0 0 10px adjust_color($color, $lightness: -30%),
            0 0 15px adjust_color($color, $lightness: -30%),
            0 0 20px adjust_color($color, $lightness: -30%),
            0 0 25px adjust_color($color, $lightness: -30%);
    transition: text-shadow 0.5s;
  }

  .card {
    border: groove 2px $color;
    color: $color;
    a {
      color: $color;
      border: transparent solid 2px;
    }
  }

  .card-body {
    border-top: groove 2px $color;
  }

  button, button:hover {
    color: $color;
    border: $color groove 2px;
  }

  button:hover, button:active, button:focus {
    color: adjust_color($color, $lightness: +20%);
    border: $color groove 2px;
  }

  .Shaded {
    transition: background-color 0.5s;
  }

  .Shaded:hover {
    background-color: adjust_color($color, $alpha: -0.96);
    transition: background-color 0.5s;
  }

  .Glow {
    color: $color;
    text-shadow: 0 0 10px $color, 0 0 20px $color;
  }

  /* Animated  Glow */
  .GlowAnim {
    color: $color;
    -webkit-animation: glow#{hue($color)} 2s ease-in-out infinite alternate;
    -moz-animation: glow#{hue($color)} 2s ease-in-out infinite alternate;
    animation: glow#{hue($color)} 2s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow#{hue($color)} {
    from {
      text-shadow:
              0 0 5px adjust_color($color, $lightness: -30%),
              0 0 10px adjust_color($color, $lightness: -30%),
              0 0 15px adjust_color($color, $lightness: -30%),
              0 0 20px adjust_color($color, $lightness: -30%),
              0 0 25px adjust_color($color, $lightness: -30%);
    }
    to {
      text-shadow:
              0 0 10px adjust_color($color, $lightness: -15%),
              0 0 15px adjust_color($color, $lightness: -15%),
              0 0 20px adjust_color($color, $lightness: -15%),
              0 0 25px adjust_color($color, $lightness: -15%),
              0 0 30px adjust_color($color, $lightness: -15%);
    }
  }
}

.AccentGold {
  @include apply-accent-color($gold);
}

.AccentLime {
  @include apply-accent-color($lime);
}

.AccentGreen {
  @include apply-accent-color($green);
}

.AccentAqua {
  @include apply-accent-color($aqua);
}

.AccentLightBlue {
  @include apply-accent-color($lightBlue);
}

.AccentPink {
  @include apply-accent-color($pink);
}

.AccentRed {
  @include apply-accent-color($red);
}

.AccentClearSky {
  @include apply-accent-color($clearSky);
}