#projects_container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.card-text {
  margin: 10px; }

.card {
  margin: 1em; }

.card-button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid;
  padding-top: 5px; }
  .card-button-container a {
    padding: 3px 5px;
    font-size: x-large; }
  .card-button-container a:hover {
    text-decoration: none; }
