#projectsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.card-title {
  font-weight: normal;
}

.card-text {
  margin: 10px;
}

.card-button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;

  a {
    padding: 3px 5px;
    font-size: x-large;
    //transition: border 1s;
  }

  a:hover {
    text-decoration: none;
  }
}