/* Homepage */

/* Generic Rules */
body {
  overflow-x: hidden;
  margin: 0;
}

.Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Sliding SubTitle */
#sliding-title {
  display: inline-block;
  position: relative;
  animation: slide 12s infinite linear;
  white-space: nowrap;
  font-weight: normal;
}

@keyframes slide
{
  from {
    left: 100%;
  }
  to {
    left: -400px;
  }
}

header {
  flex: 1;
}

#first-row {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#desc-col {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: center;
}

#img-col {
  width: 15%;
  border-radius: 999px;
  border: 3px solid;
  align-self: center;
}

#links-col {
  width: 30%;
  li {
    padding-top: 0.75em;
    font-size: 1.25rem;
  }
}

#uls {
  display: flex;
  flex-direction: row;
}

#second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8em 0;

  a {
    font-size: 2rem;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  flex: 1;
  margin-top: auto;
  font-size: 1.25rem;
}

footer button {
  background-color: transparent;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

button:focus, button:active {
  outline: none;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

/* Adapt on smaller screen sizes */
@media all and (max-width: 800px) {
  .card {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .Github {
    display: none;
  }

  #first-row {
    flex-direction: column;
  }

  #img-col {
    width: 50%;
  }

  #desc-col, #links-col {
    width: 100%;
  }

  #desc-col, #links-col, #img-col {
    margin-top: 2em;
  }
}

@media all and (max-width: 430px) {
  #refresh-button {
    display: none;
  }

  #second-row {
    /* Decrease the top and bottom margin */
    margin: 4em 0;
    flex-direction: column;
    align-items: center;

    .ButtonLink + .ButtonLink {
      margin-top: 1em;
    }
  }
}