$gold: #ff9933;
$lime: #b9e635;
$green: #00cc00;
$aqua: #00ff99;
$lightBlue: #00ccff;
$pink: #c85bff;
$red: #ec3030;
$clearSky: #41ffff;

/**********************
Table of Contents:

1: Global Rules
2: Components
3: Color Accent
  3.1: Global Accent Rules
  3.2: Component Accent Rules
  3.3: Special Effects
4: Color Accent Classes
*************************/

/********************
1: Global Rules
*********************/
*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poiret One";
  src: url('../res/font/PoiretOne-Regular.ttf')
}

@font-face {
  font-family: "Gruppo";
  src: url('../res/font/Gruppo-Regular.ttf')
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../res/font/JetBrainsMono-Regular.ttf");
}

body {
  //* alternative background 03030a
  background-color: #000;
  font-family: Raleway, sans-serif;
  margin: 0;

  h1 {
    font-family: 'Poiret One', sans-serif;
    text-align: center;

    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }
}

img {
  max-width: 100%;
}

/********************
2: Components
*********************/
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;

  background-color: #000;
  max-width: 400px;

  align-items: center;
}

.card-body {
  width: 100%;
  padding: 0.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

.card-title {
  margin-bottom: 0.75rem;
  font-weight: normal;
}

.back-button-container {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;

  #backwards_button {
    font-size: 2em;
  }
}

/********************
3: Color Accent
*********************/
@mixin apply-accent-color($color) {

  /* 3.1: Global Accent Rules */
  color: $color;

  a {
    text-decoration: none;
    color: adjust_color($color, $lightness: -20%);
    transition: text-shadow 0.10s;
  }

  a:hover, a:focus {
    color: $color;
    text-decoration: none;
    text-shadow:
            0 0 4px adjust_color($color, $lightness: -20%),
            0 0 4px adjust_color($color, $lightness: -20%),
            0 1px 7px adjust_color($color, $lightness: -20%),
            0 1px 7px adjust_color($color, $lightness: -20%),
            0 0 10px adjust_color($color, $lightness: -20%),
            0 0 15px adjust_color($color, $lightness: -20%);
    transition: text-shadow 0.10s;
  }

  p {
    color: adjust-color($color, $lightness: -10%);
  }

  img {
    border-color: $color;
    box-shadow: 0 0 5px adjust_color($color, $lightness: -20%), 
                0 0 5px adjust_color($color, $lightness: -20%), 
                0 0 10px adjust_color($color, $lightness: -20%);
  }

  div {
    border-color: $color;
  }

  table, th {
    border: 2px solid $color;
  }

  td {
    border: 1px solid $color;
  }

  /* 3.2: Component Accent Rules */
  .card {
    border: groove 2px $color;
    color: $color;
    a {
      color: $color;
      border: transparent solid 2px;
    }
  }

  .card-body {
    border-top: groove 2px $color;
  }

  .button-link {
    display: inline-block;
    padding: 0.25em;

    color: $color;
    border: $color groove 2px;
    border-radius: 0.25em;
    font-size: 1.5em;

    transition: all 0.10s;
  }

  .button-link:hover, .button-link:active, .button-link:focus {
    background-color: adjust_color($color, $alpha: -0.85);
    transition: background-color 0.1s;
  }

  /* 3.3: Special Effects */
  .shaded {
    transition: background-color 0.1s;
  }

  .shaded:hover {
    background-color: adjust_color($color, $alpha: -0.90);
    transition: background-color 0.1s;
  }

  .glow {
    color: $color;
    text-shadow: 0 0 5px $color, 0 0 10px $color, 0 0 15px $color;
  }

  /* TODO: Enchance Animated Glow and possibly bring it back to the title */
  .glow-anim {
    color: $color;
    -webkit-animation: glow#{hue($color)} 2s ease-in-out infinite alternate;
    -moz-animation: glow#{hue($color)} 2s ease-in-out infinite alternate;
    animation: glow#{hue($color)} 2s ease-in-out infinite alternate;
  }

  @keyframes glow#{hue($color)} {
    from {
      text-shadow:
              0 0 5px adjust_color($color, $lightness: -30%),
              0 0 10px adjust_color($color, $lightness: -30%),
              0 0 15px adjust_color($color, $lightness: -30%),
              0 0 20px adjust_color($color, $lightness: -30%),
              0 0 25px adjust_color($color, $lightness: -30%);
    }
    to {
      text-shadow:
              0 0 10px adjust_color($color, $lightness: -15%),
              0 0 15px adjust_color($color, $lightness: -15%),
              0 0 20px adjust_color($color, $lightness: -15%),
              0 0 25px adjust_color($color, $lightness: -15%),
              0 0 30px adjust_color($color, $lightness: -15%);
    }
  }
}

/********************
4: Color Accent Classes
*********************/
.accent-gold {
  @include apply-accent-color($gold);
}

.accent-lime {
  @include apply-accent-color($lime);
}

.accent-green {
  @include apply-accent-color($green);
}

.accent-aqua {
  @include apply-accent-color($aqua);
}

.accent-light-blue {
  @include apply-accent-color($lightBlue);
}

.accent-pink {
  @include apply-accent-color($pink);
}

.accent-red {
  @include apply-accent-color($red);
}

.accent-clear-sky {
  @include apply-accent-color($clearSky);
}