#projectsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-evenly;
}

.CardText {
  margin: 10px;
}

.CardButtonContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid;
  padding-top: 5px;

  a {
    padding: 3px 5px;
    font-size: x-large;
  }

  a:hover {
    text-decoration: none;
  }
}