/* Homepage */
#sottotitolo_scorrevole {
    float: left;
    color: maroon;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s
}

div.container > h1 {text-align: center; 
    color: maroon; 
    text-shadow: 0 0 9px maroon;
    font-weight: 400;
}

body {
    background-color: #000000;
    font-family: 'Gruppo', cursive;
}

a:hover {
    text-decoration: none;
    text-shadow: 0 0 10px #0056b3;
}

@keyframes slide
{
    from {left: 100%; top: 0px}
    to {right: -0%; top: 0px;}
}

@font-face {
    font-family: "Poiret One";
    src: url('res/font/PoiretOne-Regular.ttf')
}

@font-face {
    font-family: "Gruppo";
    src: url('res/font/Gruppo-Regular.ttf')
}

@font-face {
    font-family: "Nixie One";
    src: url('res/font/NixieOne-Regular.ttf')
}