/* Homepage */

/*Sliding Title ------------------------------*/
#sliding-title {
  position: absolute;
  animation: slide 12s infinite linear;
  white-space: nowrap;
}

@keyframes slide
{
  from {
    left: 100%;
  }
  to {
    left: -400px;
  }
}

/*General -------------------------------------------*/
.container-fluid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

body {
  background-color: #070707;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
}

body h1 {
  font-family: 'Gruppo', sans-serif;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: auto;
  font-size: 1.25rem;
}

#master-box {
  margin-bottom: 20%;
  margin-top: 15%;
}

.ContentBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#refresh-dynamic-content {
  background-color: transparent;
}

button:focus.btn, button:active.btn {
  outline: none!important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
}

/*Card Customization -------------------------------*/
.card {
  background-color: #070707;
  width: auto!important;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top {
  border-radius: 0.25rem;
}

.card-body {
  width: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.card-title {
  margin-bottom: 0;
}

.card-title a {
  font-weight: normal;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 3rem;
  line-height: 1;
}

h4.card-title a:hover {
  text-decoration: none;
}

/*Load Fonts ---------------------------------------*/
@font-face {
  font-family: "Poiret One";
  src: url('res/font/PoiretOne-Regular.ttf')
}

@font-face {
  font-family: "Gruppo";
  src: url('res/font/Gruppo-Regular.ttf')
}


/* Accent color classes ***************************/
@mixin apply-accent-color($color) {
  color: $color;

  a {
    color: adjust_color($color, $lightness: -20%);
  }

  a:hover {
    color: $color;
    text-decoration: underline;
  }

  .card {
    border: groove 2px $color;
    color: $color;
    a {
      color: $color;
    }

    a:hover {
      border: solid 2px $color;
    }
  }

  .card-body {
    border-top: groove 2px $color;
  }

  button, button:hover {
    color: $color;
    border: $color groove 2px;
  }

  button:hover, button:active, button:focus {
    color: adjust_color($color, $lightness: +20%);
    border: $color groove 2px;
  }
}

.AccentGold {
  @include apply-accent-color(#ff9933);
}

.AccentLime {
  @include apply-accent-color(#ccff33);
}

.AccentGreen {
  @include apply-accent-color(#00cc00);
}

.AccentAqua {
  @include apply-accent-color(#00ff99);
}

.AccentLightBlue {
  @include apply-accent-color(#00ccff);
}

.AccentPink {
  @include apply-accent-color(#cc66ff);
}

.AccentRed {
  @include apply-accent-color(#c00000);
}

.AccentClearSky {
  @include apply-accent-color(#55ffff);
}