/* Homepage */

//Sliding Title -----------------------------
#sliding-title {
  color: maroon;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s
}

@keyframes slide
{
  from {left: 100%; top: 0}
  to {right: 0; top: 0;}
}

//General -------------------------------------------
body {
  background-color: #000000;
  font-family: Raleway, sans-serif;
}

body h1 {
  font-family: 'Gruppo', sans-serif;
}

//Card Customization -------------------------------
.card {
  background-color: black;
}

.card-body {
  margin: 0 auto;
  padding: 15px;
}

.card-title {
  margin-bottom: 0;
}

.card-title a {
  font-weight: normal;
  border-radius: 5px;
  padding: 0 10px;
}

h4.card-title a:hover {
  text-decoration: none;
}

//Load Fonts ---------------------------------------
@font-face {
  font-family: "Poiret One";
  src: url('res/font/PoiretOne-Regular.ttf')
}

@font-face {
  font-family: "Gruppo";
  src: url('res/font/Gruppo-Regular.ttf')
}

@font-face {
  font-family: "Nixie One";
  src: url('res/font/NixieOne-Regular.ttf')
}


/* Accent color classes ***************************/
@mixin apply-accent-color($color) {
  color: $color;

  a {
    color: adjust_color($color, $lightness: -20%);
  }

  a:hover {
    color: $color;
    text-decoration: underline;
  }

  .card {
    border: solid 2px $color;
    color: $color;
    a {
      color: $color;
    }

    a:hover {
      border: dashed 2px $color;
    }
  }

}

.AccentGold {
  @include apply-accent-color(#ff9933);
}

.AccentLime {
  @include apply-accent-color(#ccff33);
}

.AccentGreen {
  @include apply-accent-color(#00cc00);
}

.AccentAqua {
  @include apply-accent-color(#00ff99);
}

.AccentLightBlue {
  @include apply-accent-color(#00ccff);
}

.AccentPink {
  @include apply-accent-color(#cc66ff);
}

.AccentRed {
  @include apply-accent-color(#c00000);
}

.AccentClearSky {
  @include apply-accent-color(#55ffff);
}