<!DOCTYPE html>

<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

   <title>Conceptual Maps</title>
   <link rel="stylesheet" type="text/css" href="../css/main.css">
   <link rel="stylesheet" href="../css/maps.css">
</head>

<body>

<h1>Conceptual Maps</h1>
<h3>Philosophy</h3>
<ul>
   <li><a href="docs/General_3°_map.pdf">General</a></li>
   <li><a href="docs/Aristotle.pdf">Aristotle</a></li>
   <li><a href="docs/PascalThoughts.pdf">Pascal</a></li>
   <li><a href="docs/EmpiristicGnoseology.pdf">Empiristic Gnoseology</a></li>
</ul>

<br>

<h3>Science</h3>
<ul>
   <li><a href="docs/HistologyMap.pdf">Histology</a></li>
   <li><a href="docs/Systems.pdf">Systems</a></li>
   <li><a href="docs/Idrocarburi.pdf">Hydrocarbons</a></li>
</ul>

<h3>Literature</h3>
<ul>
   <li><a href="docs/Il Barocco.pdf">Baroque</a></li>
</ul>

<script src="../js/main.js"></script>

</body>
</html>
