
/* selettore di elemento */
body{
   background-color: rgba(39,152,227,0.47);
   background-image: url(img/micio.jpg);
   background-repeat: repeat-x;
   background-position: center;
   }

/* Classi CSS [applicabili all'interno del tag] */

   .Corsivo {font-style: italic;}

   .Paragrafo {text-align: center; font-weight: bold;
   	font-family: "Arial, Helvetica, sans-serif";
   	font-size: 20px; color: red; }

   .TitoloGigante {font-size: 100px; color: blue; border: aqua solid thick;}

   .Spaziato { line-height: 2em; color: #6699CC; font-family: Arial, Helvetica, sans-serif;}

   .ImageUL {list-style-image: url(img/uwu.gif);}

   .GreekUL {list-style-type: lower-greek;}

   li:first-child {color: blue; font-family: italic}


   /* Regole composte sugli elementi */
table + p {background-color: pink;}

td > p {font-size: 0.5em; color: aquamarine}

td   p {font-size: 1em; color: indianred}

a:link {color: darkgoldenrod;}
a:visited {color: gainsboro; background-color: darksalmon}
p:hover {background-color: limegreen}
p:first-letter {background-color: white; font-size: 30px}
p:first-line {color: darkslategray}

/* applica la formattazione solo all'elemento di id <nome dopo il cancelletto> */

#javascript {color: yellow;}
#css {color: #2791CE;}
#html {color: red;}

#logo{ position: fixed; left: 80%; top: 90%;
    background-color: yellow; color: black;}

#javascript, #css, #html {background-color: black}

#div1 {background-color: red; width: 50%; height: 100px; float: left;}
#div2 {background-color: green; width: 50%; height: 100px; float: right;}
#div3 {background-color: blue; width: 50%; height: 100px; float: left;}
#div4 {background-color: black; width: 50%; height: 100px; float: right;}
#div5 {position: absolute; background-color: yellow; width: 5%; height: 50px; 
    left: 46%; top: 10%; padding: 15px;}
#micio {width: 100%; height: 100%;}


/* Gatti Pagina */
.Main {background-color: rgb(254, 230, 15); height: 500px;}



.ColonnaSx {background-color:rgb(252, 172, 0); float: left; width: 100px; height: 450px; margin-right: 20px; text-align: center;}
.MenuBox {background-color: mediumaquamarine; width: 90px; height: 20px; margin-top: 5px}
    .MenuBox>a:link {text-decoration: none}
    .MenuBox:hover {background-color: maroon}


.ColonnaDx {background-color:rgb(0, 204, 68); float:right; width: 150px; height: 450px; margin-left: 5px}
    .ColonnaDx > div {border: thin dashed; margin: 5px; padding: 2px}
    .ColonnaDx   center {color: red; font-size: 0.8em; font-weight: bold}

#header {background-color:yellow; border: thin dashed; padding: 20px;}
#title {font-size:3.5em; color:blue; font-weight: 600; position: relative; top: -20px; left: 30%;}
#rettangoletto {background-color: rgb(221, 144, 0); position: relative; width: 80%; height: 20px; top: 10px; left: 10%}
#content {color:green}
#footer {clear: both; float: right; position: relative; top: 20px; right: 10px}