<div class="modal hidden" id="more_links_modal">
  <a class="button-link close" href="#"><span class="mdi mdi-close"></span></a>
  <div id="more_link_container">
    {{#each more_links}}
    <a href="{{this.url}}" class="button-link">{{this.name}}</a>
    {{/each}}
  </div>
</div>