.main-content {
    width: 80%;
    margin: 0 auto;
}

.badge-container {
    display: flex;
    justify-content: space-evenly;
}

.badge {
    display: inline-block;
    width: 250px;
}

.badge > img {
    display: block;
    border-radius: 4px;
}
