---
filename: '404'
title: '404: Page Not Found'
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    <!-- TODO : responsiveness -->
    <h1 class="glow-anim"> {{ title }} </h1>
    <div class="main-content">
        <h3>" Hey...<br><br> ...you look lost...<br> ...are you sure you wanted to visit this address? "</h3>
        <p>These below are some ways out of here: </p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="javascript:history.back()">Previous Page</a></li>
        </ul>
        <img id="catto" src="https://http.cat/404" alt="pog cat">
    </div>
</body>

{{> footer}}
</html>