---
filename: awc
title: Davoleo's AWC Badges
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    {{> back_button}}

    <h1 class="glow-anim">{{title}}</h1>

    <div class="main-content">
        <p>This page contains badges of my completed AWC challenges on AniList (click on the specific badges for more information)</p>
        <p><a href="https://awc.moe/challenger/Davoleo">AWC Portal</a></p>
        <div class="badge-container">
            <a class="badge" href="https://anilist.co/forum/thread/4448/comment/232047">
                <img src="https://awc.nymh.moe/assets/tier/WK1ejb8.png" alt="beginners_challenge_badge">
            </a>
        </div>
        <div>
            <a href="badge" href="https://anilist.co/forum/thread/25914/comment/1249584">
                <img src="https://i.postimg.cc/85KKtL7n/Collection-Franchise-Love-Live.png" alt="love_live_collection_challenge_badge">
            </a>
        </div>
    </div>

{{> footer}}
</body>
</html>