---
filename: awc
title: Davoleo's AWC Badges
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    {{> back_button}}

    <h1 class="glow-anim">{{title}}</h1>

    <div class="main-content">
        <div class="badge-container">
            <a class="badge" href="https://anilist.co/forum/thread/4448/comment/232047">
                <img src="https://awc.nymh.moe/assets/tier/WK1ejb8.png" alt="beginners_challenge_badge">
            </a>
        </div>
    </div>

{{> footer}}
</body>
</html>