---
filename: dev_stats
title: Development Stats
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

{{!-- Makes sure images are reloaded -> Correct Dev Data --}}
<body onload="reloadContent();">
    {{> back_button}}

    <h1 class="glow-anim">{{title}}</h1>

    <div class="main-content">
        <p>Development Stats charts<br>related to the last 7 days<br>[updated daily]<p>
        <div class="chart-container">
            <div class="chart shaded">
                <h3 class="chart-title">Programming Languages</h3>
                <figure><embed src="https://wakatime.com/share/@Davoleo/bf703c59-d4b4-4cee-9e1c-8baedb303926.svg"></embed></figure>
            </div>

            <div class="chart shaded">
                <h3 class="chart-title">Coding Activity</h3>
                <figure><embed src="https://wakatime.com/share/@Davoleo/19f7d6f6-7c4b-4cf9-aec5-fd5885eb491f.svg"></embed></figure>
            </div>
        </div>
    </div>

    {{> footer}}
</body>
</html>