---
data: '/data/donate.yaml'
---
<!DOCTYPE html>
<html lang="en">

{{> header}}
<body>
    {{> back_button}}
    
    <main class="container-fluid">
        <h1 class="glow-anim">{{title}}</h1>
        <div class="intro">
          <p>If you want to support my works and projects here are some ways to do it.</p>
          <p>Choose whichever you feel it's best for you...</p>
        </div>
        
        <section id="donate-button-row">
            {{#each platforms}}
            <div class="button-wtooltip">
                <a href="{{this.link}}" class="button-link">{{this.name}}</a>
                <p class="smol">{{this.tooltip}}</p>
            </div>
            {{/each}}
        </section>
    </main>

{{> footer}}
</body>
</html>