---
filename: pc
title: PC Parts

data: '/data/pc.yaml'
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

{{> back_button}}

<h1 class="glow-anim">{{data.header}}</h1>

<table class="part-list">
    <thead>
        <tr class="shaded">
            <th>Component</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {{#each data.components}}
            <tr class="shaded">
                <td class="part-list-type">{{this.type}}</td>
                <td class="part-list-item"><a href="{{this.url}}">{{this.name}}</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{> footer}}

</body>
</html>
