/* Homepage Styling */

/**********************
Table of Contents:

1: Global Rules
2: Layout Rules
3: Components
4: Media Queries
  4.1: Medium Screens
  4.2: Small Screens
*************************/

/********************
1: Global Rules
*********************/
body {
  margin: 0;
}

/********************
2: Layout Rules
*********************/
header {
  flex-grow: 1;
}

#first_row {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#desc_col {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-self: center;

  p {
    margin: 0.5em 0;
  }
}

#img_col {
  width: 15%;
  border-radius: 999px;
  border: 3px solid;
  align-self: center;
}

#links_col {
  width: 30%;
  li {
    padding-top: 0.75em;
    font-size: 1.25rem;
  }
}

#second_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8em 0;

  a {
    font-size: 2rem;
    padding: 0.5em;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  flex: 1;
  margin-top: auto;
  font-size: 1.25rem;
  padding: 0.5em;
}

/********************
3: Components
*********************/
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#marquee_wrapper {
  margin: 0 auto;
  white-space: nowrap;
  overflow-x: hidden;
  position: relative;
  border-top: dotted 4px;
  border-bottom: dotted 4px;
}

.marquee {
  display: inline-block;
  //position: relative;
  padding-left: 25%;
  animation: slide 12s infinite linear;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  //content: attr(data-length) "em";
}

@keyframes slide
{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-201%);
  }
}

#uls {
  display: flex;
  flex-direction: row;
}

.button-link {
  background-color: transparent;
  border-radius: 0.5em;
  margin: 0.5em;
}

#more_links_modal {
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right : auto;
  width: 50%;

  padding-top: 1em;
  padding-bottom: 1em;

  #more_link_container {
    //Space for the close button
    margin-left: 4em;
    display: flex;
    justify-content: space-evenly;
    //Allow multiple lines of buttons
    flex-wrap: wrap;
  }
}

/********************
4: Media Queries
*********************/

/* 4.1: Medium Screens */
@media all and (max-width: 800px) {
  .card {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .github {
    display: none;
  }

  #first_row {
    flex-direction: column;
  }

  #img_col {
    width: 50%;
  }

  #desc_col, #links_col {
    width: 100%;
  }

  #desc_col, #links_col, #img_col {
    margin-top: 2em;
  }

  #uls {
    justify-content: space-between;
  }
}

/* 4.2: Small Screens */
@media all and (max-width: 430px) {
  #discord_button {
    display: none;
  }

  #second_row {
    /* Decrease the top and bottom margin */
    margin: 4em 0;
    flex-direction: column;
    align-items: center;

    .button-link + .button-link {
      margin-top: 1em;
    }
  }

  #more_links_modal {
    flex-direction: column;
    //Fixed positioning might overflow available screen space on mobile
    position: absolute;
    top: 10%;
    #more_link_container {
      //Remove the margin that was previously created to make space for the close button
      margin-left: 0;
    }
    .close {
      //Make it so it doesn't overlap with buttons
      position: relative;
    }
  }
}